name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v6

  #     - name: Set up Ruby
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: ruby-3.3.2
  #         bundler-cache: true

  #     - name: Lint code for consistent style
  #       run: bin/rubocop -f github

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - gemfile: rails_7.1
            ruby: 3.1

          - gemfile: rails_7.2
            ruby: 3.2

          - gemfile: rails_8.0
            ruby: 3.3

          - gemfile: rails_8.1
            ruby: 3.4

    runs-on: ubuntu-latest

    # https://github.com/ruby/setup-ruby?tab=readme-ov-file#matrix-of-gemfiles
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile

    name: ${{ matrix.gemfile }}, ruby ${{ matrix.ruby }}


    # services:
    #  redis:
    #    image: redis
    #    ports:
    #      - 6379:6379
    #    options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y build-essential git pkg-config google-chrome-stable

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        env:
          RAILS_ENV: test
          # REDIS_URL: redis://localhost:6379/0
          # bin/rails db:test:prepare not needed cause we are not using database
        run: bundle exec rspec

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore

